<div class="contents-wrapper">
  
  <button mat-raised-button color="primary" class="new" (click)="moveCompanyReg()">New</button>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <!-- <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete> -->

      <input matInput placeholder="search" value="">

    </mat-form-field>
  </form>

  <mat-card *ngFor="let company of companyList" (click)="moveDetail(company.company_id)">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      
      <mat-card-title>{{company.company_name}}</mat-card-title>
      <mat-card-subtitle>{{company.clCdNm}}</mat-card-subtitle>

    </mat-card-header>
 
    <mat-card-content>
      <p>
        {{company.addr}}
      </p>
    </mat-card-content>
    
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>
</div>