<div class="contents-wrapper">

    <h3>Emp List</h3>
    <button mat-raised-button color="primary" class=" new">New</button>


    <mat-table #table [dataSource]="dataSource">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="emp_name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.emp_name}} </mat-cell>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="emp_no">
          <mat-header-cell *matHeaderCellDef> Emp No </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.emp_no}} </mat-cell>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="dept_name">
          <mat-header-cell *matHeaderCellDef> Dept </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.dept_name}} </mat-cell>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="moveDetail(row)"></mat-row>
      </mat-table>

  </div>  